@model TripViewModel


@{
    ViewBag.Title = "Add Trip 3";
    ViewBag.SubHeader = $"Add info for {ViewBag.Destination}";
}


<form asp-action="AddThree">
    <input type="hidden" asp-for="Page" />

    <div class="form-group">
        <label asp-for="Trip.ToDo1">Activity 1</label>
        <br>
        <input asp-for="Trip.ToDo1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Trip.ToDo1">Activity 2</label>
        <br>
        <input asp-for="Trip.ToDo2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Trip.ToDo1">Activity 3</label>
        <br>
        <input asp-for="Trip.ToDo3" class="form-control" />
        <br>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-success">Save</button>
        <a asp-action="Cancel" class="btn btn-outline-danger">Cancel</a>
    </div>
</form>
