@model IEnumerable<Day>
@{ 
    int id = Convert.ToInt32(ViewContext.RouteData.Values["id"]);

}
<div class="text-center">
    <h1 class="display-4">Class Schedule</h1>

    @foreach (Day d in Model) {
        <my-link-button action="Index" id="@d.DayId" class="mr-1 mb-2"
                        is-active="@(id == d.DayId)">@d.Name</my-link-button>
    }
</div>